# Question 1 - Pre-processing (Fuctional)

In [75]:
import numpy as np
import pandas as pd
from sklearn import datasets, linear_model

"""
Question 1

Transform the data.
"""


def filter_bike_data(filename = 'bikeshare_data.csv'):
    data = pd.read_csv(filename,header=0)
    noHolidayData = data.drop(data[data.holiday==1].index)
    noWorkingDay = noHolidayData.drop(noHolidayData[noHolidayData.workingday==0].index)
    workingTime = noWorkingDay[(noWorkingDay['hr'] >= 9) & (noWorkingDay['hr'] <= 17)]
    filteredData = workingTime[['temp','hum','windspeed','cnt']]
    data = filteredData
    return data.to_csv('filtered.csv', index=False)

# Question 1: Preprocessing (non-functional)

In [66]:
data = pd.read_csv('bikeshare_data.csv')
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
instant       17379 non-null int64
dteday        17379 non-null object
season        17379 non-null int64
yr            17379 non-null int64
mnth          17379 non-null int64
hr            17379 non-null int64
holiday       17379 non-null int64
weekday       17379 non-null int64
workingday    17379 non-null int64
weathersit    17379 non-null int64
temp          17379 non-null float64
atemp         17379 non-null float64
hum           17379 non-null float64
windspeed     17379 non-null float64
casual        17379 non-null int64
registered    17379 non-null int64
cnt           17379 non-null int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [67]:
# remove all the data for the holidays holidays == 1
# https://stackoverflow.com/questions/17071871/how-to-select-rows-from-a-dataframe-based-on-column-values
noHolidayData = data.drop(data[data.holiday==1].index)

In [68]:
# remove non-working days
noWorkingDay = noHolidayData.drop(noHolidayData[noHolidayData.workingday==0].index)

In [69]:
# retrieve data between 9AM and 6PM
# 'hr' = [9,17]
workingTime = noWorkingDay[(noWorkingDay['hr'] >= 9) & (noWorkingDay['hr'] <= 17)]

In [70]:
# select columns: temp,hum,windspeed,cnt
filteredData = workingTime[['temp','hum','windspeed','cnt']]

In [71]:
filteredData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4477 entries, 54 to 17372
Data columns (total 4 columns):
temp         4477 non-null float64
hum          4477 non-null float64
windspeed    4477 non-null float64
cnt          4477 non-null int64
dtypes: float64(3), int64(1)
memory usage: 174.9 KB

In [76]:
# filteredData.to_csv('filtered.csv',index=False)

# Question 2: Modeling and Prediction (non-functional)