# Question 1 - Pre-processing (Fuctional)

In [179]:
import numpy as np
import pandas as pd
from sklearn import datasets, linear_model

"""
Question 1

Transform the data.
"""


def filter_bike_data(filename = 'bikeshare_data.csv'):
    data = pd.read_csv(filename,header=0)
    noHolidayData = data.drop(data[data.holiday==1].index)
    noWorkingDay = noHolidayData.drop(noHolidayData[noHolidayData.workingday==0].index)
    workingTime = noWorkingDay[(noWorkingDay['hr'] >= 9) & (noWorkingDay['hr'] <= 17)]
    filteredData = workingTime[['temp','hum','windspeed','cnt']]
    data = filteredData
    return data.to_csv('filtered.csv', index=False)

# Question 1: Preprocessing (non-functional)

In [180]:
data = pd.read_csv('bikeshare_data.csv')
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
instant       17379 non-null int64
dteday        17379 non-null object
season        17379 non-null int64
yr            17379 non-null int64
mnth          17379 non-null int64
hr            17379 non-null int64
holiday       17379 non-null int64
weekday       17379 non-null int64
workingday    17379 non-null int64
weathersit    17379 non-null int64
temp          17379 non-null float64
atemp         17379 non-null float64
hum           17379 non-null float64
windspeed     17379 non-null float64
casual        17379 non-null int64
registered    17379 non-null int64
cnt           17379 non-null int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [181]:
# remove all the data for the holidays holidays == 1
# https://stackoverflow.com/questions/17071871/how-to-select-rows-from-a-dataframe-based-on-column-values
noHolidayData = data.drop(data[data.holiday==1].index)

In [182]:
# remove non-working days
noWorkingDay = noHolidayData.drop(noHolidayData[noHolidayData.workingday==0].index)

In [183]:
# retrieve data between 9AM and 6PM
# 'hr' = [9,17]
workingTime = noWorkingDay[(noWorkingDay['hr'] >= 9) & (noWorkingDay['hr'] <= 17)]

In [184]:
# select columns: temp,hum,windspeed,cnt
filteredData = workingTime[['temp','hum','windspeed','cnt']]

In [185]:
filteredData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4477 entries, 54 to 17372
Data columns (total 4 columns):
temp         4477 non-null float64
hum          4477 non-null float64
windspeed    4477 non-null float64
cnt          4477 non-null int64
dtypes: float64(3), int64(1)
memory usage: 174.9 KB

In [186]:
# filteredData.to_csv('filtered.csv',index=False)

# Question 2: Modeling and Prediction (functional)

In [187]:
"""
Question 2

Build the model and predict.
"""
    
def build_and_predict():
    data = pd.read_csv('filtered.csv')
    predict_data = pd.read_csv('topredict.csv')

    
    reg = linear_model.LinearRegression()
    reg.fit(data[['temp','hum','windspeed']],data.cnt)
    
    predict_data['final_prediction'] = trainedReg.predict(predict_data[['temp','hum','windspeed']])
    predict_data['final_prediction']=np.where(predict_data['final_prediction']>=170,1,0)
    predict_data['index'] = range(0,len(predict_data))
    final_sol = predict_data[['index','final_prediction']]
    final_sol.to_csv('predictions.csv')
    return final_sol

build_and_predict()

     index  final_prediction
0        0                 0
1        1                 0
2        2                 0
3        3                 0
4        4                 0
5        5                 0
6        6                 0
7        7                 0
8        8                 0
9        9                 0
10      10                 0
11      11                 0
12      12                 0
13      13                 0
14      14                 0
15      15                 0
16      16                 0
17      17                 0
18      18                 0
19      19                 0
20      20                 0
21      21                 0
22      22                 0
23      23                 0
24      24                 1
25      25                 1
26      26                 1
27      27                 1
28      28                 1
29      29                 1
..     ...               ...
470    470                 1
471    471                 1
472    472                 0
473    473                 0
474    474                 1
475    475                 1
476    476                 0
477    477                 0
478    478                 0
479    479                 0
480    480                 0
481    481                 0
482    482                 0
483    483                 0
484    484                 0
485    485                 0
486    486                 0
487    487                 0
488    488                 0
489    489                 1
490    490                 1
491    491                 1
492    492                 1
493    493                 1
494    494                 0
495    495                 0
496    496                 0
497    497                 0
498    498                 0
499    499                 0

[500 rows x 2 columns]

# Question 2: Modeling and Prediction (non-functional)

In [188]:
# independent variables = temperature(temp),humidity(hum), windspeed
# dependent variable = cnt

In [189]:
# load data using sklearn 
import numpy
from sklearn import linear_model
from sklearn.metrics import roc_curve, auc
import pandas as pd
from pandas import DataFrame

In [190]:
# train model: https://www.youtube.com/watch?v=J_LnPL3Qg70
# read csv 'filtered.csv'
data = pd.read_csv('filtered.csv')

# create regression model using filtered.csv
# label dependent variable 'cnt' 
reg = linear_model.LinearRegression()
trainedReg = reg.fit(data[['temp','hum','windspeed']],data.cnt)

In [191]:
# cnt = m1*temp + m2*hum + m3*windspeed + b
# m = coefficient
reg.coef_

array([ 268.37598803, -155.28478676,  -33.06286462])

In [192]:
# b = intercept
reg.intercept_

183.07595854177006

In [193]:
# test model: input temp,hum,windspeed
# output: cnt
reg.predict([[0.2,0.4,0.3284]])

array([163.7793967])

In [194]:
# apply regression model to predict_data = pd.read_csv('topredict.csv')
# create list of predicted cnts 
predict_data = pd.read_csv('topredict.csv')

In [195]:
# add predicted cnt to new df 'cnt' column
# predict_data['cnt'] = reg.predict(predict_data[['temp','hum','windspeed']])
predict_data['final_prediction'] = trainedReg.predict(predict_data[['temp','hum','windspeed']])

In [196]:
# high-demand = cnt >= 170 = 1
# low-demand = cnt < 170 = 0
predict_data['final_prediction']=np.where(predict_data['final_prediction']>=170,1,0)
# predict_data

In [197]:
# add new column: index
predict_data['index'] = range(0,len(predict_data))

In [198]:
# convert predicted_data to only include index and cnt
final_sol = predict_data[['index','final_prediction']]
final_sol

     index  final_prediction
0        0                 0
1        1                 0
2        2                 0
3        3                 0
4        4                 0
5        5                 0
6        6                 0
7        7                 0
8        8                 0
9        9                 0
10      10                 0
11      11                 0
12      12                 0
13      13                 0
14      14                 0
15      15                 0
16      16                 0
17      17                 0
18      18                 0
19      19                 0
20      20                 0
21      21                 0
22      22                 0
23      23                 0
24      24                 1
25      25                 1
26      26                 1
27      27                 1
28      28                 1
29      29                 1
..     ...               ...
470    470                 1
471    471                 1
472    472                 0
473    473                 0
474    474                 1
475    475                 1
476    476                 0
477    477                 0
478    478                 0
479    479                 0
480    480                 0
481    481                 0
482    482                 0
483    483                 0
484    484                 0
485    485                 0
486    486                 0
487    487                 0
488    488                 0
489    489                 1
490    490                 1
491    491                 1
492    492                 1
493    493                 1
494    494                 0
495    495                 0
496    496                 0
497    497                 0
498    498                 0
499    499                 0

[500 rows x 2 columns]

In [199]:
# export as csv
final_sol.to_csv('predictions.csv')

# wyatt's code

In [200]:
# def build_and_predict():
#     data = pd.read_csv('filtered.csv')
#     predict_data = pd.read_csv('topredict.csv')
    
# #   wyatt's code
#     reg_model = linear_model.LinearRegression()
#     reg_model.fit(data[['temp','hum','windspeed']],data.cnt)
    
#     reg_predictions = reg_model.predict(predict_data)
    
#     predictions_list = reg_predictions.tolist()
#     final_prediction_list = []
#     for values in predictions_list:
#         if values >= 170:
#             final_prediction_list.append(1)
#         if values < 170:
#             final_prediction_list.append(0)
#     index_list = [i for i in range(500)]
#     index_prediction_list = [(index_list[i],final_prediction_list[i]) for i in range(0,len(index_list))]
#     final_prediction = pd.DataFrame(index_prediction_list,columns=['index','final_prediction'])
#     final_sol = final_prediction
    
# #     predict_data['cnt'] = reg.predict(predict_data[['temp','hum','windspeed']])
# #     predict_data['cnt']=np.where(predict_data['cnt']>=170,1,0)
# #     final_sol = predict_data['cnt']
# #     final_sol.to_csv('predictions.csv')
# #     return final_sol
#     final_sol.to_csv('predictions.csv')
#     return final_sol
# build_and_predict()